* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: bisque;
}
#titulo {
    background-color: black;
}
.texto {
    font-style: italic;
}
p {
    background-color: aqua;
    border-radius: 15px;
}
.circulo {
    background-color: brown;
    border: 5px solid salmon;
    padding: 10px;
}
