footer {
    background-color: aquamarine;
    height: 50px;
}
nav {
    background-color: aqua;
    height: 100px;
}
video {
    width: 320px;
    height: 240px;
}
.exe {
    width: 200px;
    height: 200px;
    background: blue;
    background: linear-gradient(-45deg ,white, blue) ;
}